# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.dSYM
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# massif files
massif.out.*

# Generated code
**/build/*
!**/build/.keep

bench_files

# direnv
.envrc
